[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytask = "*"
pytask-latex = "*"
pandas = "*"
matplotlib = "*"
numpy = "*"
scipy = "*"
schemdraw = "*"

[dev-packages]

[scripts]
build = "pytask"

[requires]
python_version = "3.10"
